# ======================
# Python __pycache__
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual environment
# ======================
venv/
env/
.venv/
ENV/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Editor folders
# ======================
.vscode/
.idea/

# ======================
# Environment variables
# ======================
.env
*.env

# ======================
# Compiled
# ======================
*.so

# ======================
# Jupyter
# ======================
.ipynb_checkpoints

# ======================
# Logs
# ======================
*.log

# ======================
# TensorFlow / PyTorch models
# (إذا في موديل حجمه كبير)
# ======================
*.h5
*.pt
*.pth
*.onnx
*.tflite
*.joblib
*.pkl

# ======================
# Temporary files
# ======================
*.tmp
*.temp

# ======================
# Build
# ======================
build/
dist/